mat-card {
	margin-left: 24%;
 margin-top: 5%;
 width: 50%;
	height: 40%;
 border-style: groove;
 border-color: #294690;
 border-width: 1px;
	text-align: center;
	overflow: auto;
	h2 {
		color: #294690;
	}
}

hr {
  background-color: #294690;
		height: 1px;
}

mat-card-content div {
	margin-top: 5%;
}

.uploads-button {
	width: 50%;
 float: left;
}

button {
	background-color: #98c242;
	color: #FFF;
}
