@import '~modules/shared/shared-styles';

.header {
	.header-nav {
		background-color: @black-color;
		color: @white-color;
		padding: 1px 0px;
		position: sticky;
		top: 0;
		.header-line {
			border: 1px solid @white-color;
			margin: 5px 0px;
			border-bottom: 7px double @white-color;
		}
		.header-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.header-start-section {
				width: 142px;
				display: flex;
				justify-content: center;
				.figure-container {
					width: 70px;
					border-radius: 50px;
					border: 1px solid @black-color;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.figure-container:hover {
					transform: scale(1.5);
					cursor: pointer;
				}
			}
			.header-center-section {
				button {
					font-family: system-ui;
				}
				button:hover {
					font-weight: bold;
				}
			}
			.header-end-section {
				width: 130px;
				display: flex;
				justify-content: center;
				align-items: center;
				.logout-button {
					width: 80px;
				}
				.logout-button:hover {
					box-shadow: 0px 0px 10px @green-color;
					font-weight: bold;
				}
			}
		}
	}
	.dashboard-img {
		height: 85vh;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 0px -20px;
		}
	}
}
