@import '~modules/shared/shared-styles';

.header {
	background-color: @black-color;
	width: 100%;
 	height: 7%;
	text-align: center;
	.element-menu {
		float: left;
		height: 100%;
		width: 9%;
		color: @white-color;
		padding: 0;
		font-weight: bold;
	}
	.element-menu:hover {
		color: @red-color;
	}
	.logout-button {
		float: right;
		width: 6%;
		height: 80%;
		margin-top: 0.3%;
		margin-right: 0.4%;
		color: @black-color;
		border: 1px solid @white-color;
		font-weight: bold;
	}
	.logout-button:hover {
		box-shadow: 0px 0px 10px @white-color;
		color: gray;
	}
}
