@import '~modules/shared/shared-styles';

mat-card {
	padding: 8%;
	text-align: center;
	display: block;
	width: 45%;
	border: 2px solid @black-color;
	.logo img {
		border-radius: 60px;
	}
}

mat-card img {
	width: 20%;
}

mat-card, div {
	padding: 7px;
}

mat-card mat-form-field {
	height: 45px;
}

mat-card mat-form-field, input {
	width: 50%;
}

.join-button {
	width: 20%;
	margin-top: 3px;
	margin-bottom: 10px;
}

.material-icons.md-36 {
	font-size: 36px;
	margin-right: 10px;
    vertical-align: bottom;
	color: @black-color;
}
