mat-card {
	width: 60%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	border-style: ridge;
	border-color: #294690;
	h2 {
		color: #294690;
	}
	#info {
		overflow: auto;
	}
	#documentData {
		float: left;
		width: 40%;
	}
	#detail {
		float: right;
		width: 44%;
	}

	#saveButton {
		text-align: center;
		.save-button {
			background-color: #98c242;
			color: #fff;
			width: 20%;
			margin-top: 3px;
			margin-bottom: 10px;
		}
	}
	.csDate {
		width: 30%;
	}
	.return-button {
		background-color: #98c242;
		color: #fff;
	}

	.wraper-button {
		text-align: right;
		width: 65%;
		margin-bottom: 10px;
	}
}
