@import '~modules/shared/shared-styles';

mat-card {
	width: 60%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	border-style: ridge;
	border-color: @black-color;
	h2 {
		color: @black-color;
	}
	#saveButton {
		text-align: center;
		.save-button {
			background-color: @green-color;
			color: @black-color;
			border: 1px solid @black-color;
			width: 20%;
			margin-top: 3px;
			margin-bottom: 10px;
		}
	}

	.return-button {
		background-color: @green-color;
		color: @black-color;
		border: 1px solid @black-color;
	}

	.wraper-button {
		text-align: right;
		width: 55%;
		margin-bottom: 10px;
	}
}
