@import '~modules/shared/shared-styles';

div {
	text-align: center;
	display: block;
	font-size: x-large;
	button {
		background-color: @green-color;
		color: @black-color;
	}
	.check_circle-icon {
		font-size: 75px;
		color: @green-color;
	}
	.info-icon {
		font-size: 75px;
		color: yellow;
	}
	.cancel_schedule_send-icon {
		font-size: 75px;
		color: @red-color;
	}
	.report-icon {
		font-size: 75px;
		color: @red-color;
	}
	.report_problem-icon {
		font-size: 75px;
		color: @red-color;
	}
}
.confirm-buttons {
	display: flex;
	justify-content: space-evenly;
}
